<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Priorities2 T" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if current_user %>
    <%= button_to "Log Out", session_path(current_user), method: :delete %>
  <% end %>
  <h1><center>PRIORITIES</center></h1>
  <center><img src="https://platform.theverge.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/15827487/Screen_Shot_2016-05-31_at_5.06.18_PM.0.0.1464728812.png?quality=90&strip=all&crop=0,4.2619542619543,100,91.476091476091" alt="Geese flying" height="300px"></center>
  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg, class: type, style: "color:red; margin-left:30px; font-size:30px;" %>
      <%#= msg %>
  <% end %>
  <%= yield %>
  </body>
</html>
